<div class='sign-in'>
  <div class='large-12 small-12 columns'>
    <div class='wrapper'>
      <div class='half-container vertical-centerify form'>
        <%= form_tag auth_path do %>
          <div class='large-4 small-4 columns centerify'>
            <%= label_tag 'token' %>
          </div>
          <div class='large-8 small-8 columns'>
            <%= text_field_tag 'token', '', placeholder: 'API Token', require: true %>
          </div>

          <div class='large-4 small-4 columns centerify'>
            <%= label_tag 'project_id', 'Project ID' %>
          </div>
          <div class='large-8 small-8 columns'>
            <%= text_field_tag 'project_id', '', placeholder: 'Project ID', require: true %>
          </div>

          <div class='centerify'>
            <%= submit_tag 'Fetch', class: 'button' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

